* {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

::placeholder {
    color: white;
    opacity: 0.6;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}


.inputTxt {
    width: 400px;
    height: 30px;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-width: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 50px;
}

.mp4Btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 30px;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-width: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}